@use '../../../../styles.scss' as *;

/* ===============================
   TASK DIALOG OVERLAY & CARD
================================ */

.dialog-overlay {
  position: fixed;
  inset: 0;
  z-index: 3;

  background: rgba(0, 0, 0, 0.3);

  @include dFlex($jc: center, $ai: center);
}

.dialog {
  @include dFlex($fd: column, $g: 24px);
  position: relative;

  width: 90%;
  max-width: 520px;
  max-height: 85vh;

  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  padding: 50px 40px;

  overflow: auto;
}

/* ===============================
   CONTENT
================================ */

header {
  @include dFlex($jc: space-between);
  width: 100%;
  border: 2px solid red;
}

.badge {
  display: inline-block;
  border-radius: 8px;
  padding: 8px 20px;
  color: white;
  font-size: 23px;
  font-weight: 400;
  // line-height: 1.2;

  &--user-story {
    background-color: $color-board-user-story;
  }

  &--tech-task {
    background-color: $color-board-tech-task;
  }
}

.close-btn {
  @include dFlex();
  height: 32px;
  width: 32px;
  background: none;
  border: unset;
  padding: 0;
  cursor: pointer;
}

.title {
  font-size: $h1;
  font-weight: 700;
  line-height: 1.2;

  border: 2px solid red;
}

.description {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;

  border: 2px solid red;
}

.date-prio-wrapper {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid red;

  .label {
    width: 25%;
    color: $color-brand-primary;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    white-space: nowrap;
  }

  .value {
    width: 75%;
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;

    &--priority {
      display: inline-flex;
      align-items: center;
      gap: 10px;

      .priority-icon {
        display: block;
        width: 17px;
      }

      .priority-text {
        white-space: nowrap;
      }
    }
  }

  tr:first-child td {
    padding-bottom: 24px;
  }
}

.label {
  // doppelt?
  color: $color-brand-primary;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  white-space: nowrap;
}

.assignment {
  // @include dFlex();
  width: 100%;
  // display: flex;
  // align-items: flex-start;
  // gap: 16px;
  border: 2px solid red;
}

.assignment .label {
  // width: 25%;
  white-space: nowrap;
}

.value--muted {
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}


