.contacts-container {
  display: flex;
  height: 100%;
}

.contacts-list {
  width: 40%;
  padding: 40px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.letter-group {
  margin-bottom: 20px;
}

.group-letter {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 6px;
}

.contact-entry {
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px 4px;
  border-radius: 6px;
  cursor: pointer;
}

.contact-entry:hover {
  background: #f1f1f1;
}

.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #0a73f0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 36px;
  font-size: 16px;
  font-weight: 400;
}

.big {
  width: 120px;
  height: 120px;
  font-size: 47px;
  font-weight: 500;
}

.contact-detail p {
  margin-bottom: 15px;
}

.contact-info .name {
  font-weight: 400;
}

.contact-info .email {
  font-size: 16px;
  font-weight: 400;
  color: #007CEE;
}

.contact-detail {
  flex: 1;
  padding: 24px;
  background-color: #F6F7F8;
  padding: 60px 60px;
}

.contact-detail h2 {
  font-size: 61px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 80px;
}

.contact-detail h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 40px;
}

.divider {
  width: 3px;
  height: 59px;
  background: #29ABE2;
  border-radius: 2px;
  margin: 0 15px;
}

.contact-detail .sub {
  font-size: 27px;
  font-weight: 400;
  color: #2A3547;
}

.detail-header {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.detail-main .name {
  font-size: 47px;
  font-weight: 500;
}

.actions {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #2A3647;
  margin-top: 4px;
  cursor: pointer;
}

.actions .action-icon {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(0);
}

.label {
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin-top: 20px;
  margin-bottom: 4px;
}

.add-contact-btn {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 20px;
  background: #2A3647;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

.add-contact-btn:hover {
  background: #085ec4;
}

.add-contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* Abstand zwischen Text & Icon */
}

.add-contact-btn .icon {
  width: 20px;
  height: 20px;
}
